*.o
*.a
*.so.*
*.so
mmh
mmh_dyn
mmh_old
mmh_ref


# autotools
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
config/
configure
configure~
configure.ac~
libmurmurhash.la
libmurmurhash.pc
libmurmurhash_la-PMurHash.lo
libmurmurhash_la-murmurhash.lo
libtool
stamp-h1
